@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
	scrollbar-width: none;
	scrollbar-color: #1a2d00 #363f30;
}

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: #363f30;
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(26, 45, 0);
	border-radius: 7px;
	border: 1px solid #000000;
}

body {
	font-family: "Chakra Petch", sans-serif !important;
	font-size: 14px !important;
	color: rgb(211, 212, 206) !important;
	background-color: black !important;
	overflow-x: hidden !important;
}

.wrapper {
	width: 98%;
	margin: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.top__menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	position: relative;
}

.menu__items {
	display: flex;
	margin-left: 15px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	font-size: 1.2rem;
	position: relative;
	transition: all 0.35s;
	z-index: 2;
	width: 750px;
}

.menu__element--wrapper {
	width: 17%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	position: relative;
	height: 40px;
}

.menu__element--wrapper::after {
	visibility: hidden;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: rgb(26, 45, 0);
	transition: ease-out 0.5s;
	-webkit-transform: skew(-30deg, 0deg);
	-moz-transform: skew(-30deg, 0deg);
	-ms-transform: skew(-30deg, 0deg);
	-o-transform: skew(-30deg, 0deg);
	transform: skew(-30deg, 0deg);
	border: rgb(211, 212, 206) solid 3px;
}
.menu__element--wrapper.selected__element::after {
	visibility: unset;
	width: 100%;
}

.menu__element--wrapper:hover:after {
	visibility: unset;
	width: 100%;
}

.hamburger__menu {
	display: none;
}

@keyframes filling {
	from {
		clip-path: inset(0 0 0 0);
	}
	to {
		clip-path: inset(0 100% 0 0);
	}
}

.menu__element {
	z-index: 3;
}

.home__image {
	object-fit: cover;
	width: 100%;
	object-position: 100% 25%;
}

.main__text {
	font-size: 20px;
	text-align: justify;
	text-align-last: center;
}

.icons {
	font-size: 20px;
	color: transparent;
	background-clip: text;
	background-image: -webkit-linear-gradient(top, rgb(210, 212, 206), rgb(26, 45, 0));
	-webkit-text-stroke-width: 0px;
	opacity: 1;
	border: 0px solid rgb(255, 255, 255);
}

.footer {
	display: flex;
	flex-direction: row;
	width: 90%;
	justify-content: space-between;
	align-items: center;
}

.icons__set {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 370px;
}

@media screen and (max-width: 1200px) {
	.menu__items {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 1024px) {
	.menu__items {
		font-size: 1rem;
	}
}

@media screen and (max-width: 768px) {
	.menu__items {
		display: none;
	}
	.hamburger__menu {
		display: flex;
		position: relative;
		width: 60px;
		height: 60px;
		transition-duration: 0.5s;
		align-self: flex-end;
	}
	.hamburger__menu .icon-E {
		transition-duration: 0.5s;
		height: 8px;
		width: 60px;
		background-color: rgb(211, 212, 206);
		transition-delay: 0.5s;
	}
	.hamburger__menu .icon-E:before {
		transition-duration: 0.5s;
		position: absolute;
		width: 60px;
		height: 8px;
		background-color: rgb(211, 212, 206);
		content: "";
		top: -20px;
	}
	.hamburger__menu .icon-E:after {
		transition-duration: 0.5s;
		position: absolute;
		width: 60px;
		height: 8px;
		background-color: rgb(211, 212, 206);
		content: "";
		top: 20px;
	}
	.hamburger__menu .icon-X {
		transition-duration: 0.5s;
		position: absolute;
		height: 0px;
		width: 200px;
		background-color: rgb(211, 212, 206);
		transform: scaleX(0);
		transform-origin: 30px 0px;
	}
	.hamburger__menu .icon-X:before {
		transition-duration: 0.5s;
		position: absolute;
		width: 60px;
		height: 8px;
		background-color: rgb(211, 212, 206);
		content: "";
		top: -20px;
		transform: rotateZ(45deg) scaleX(1.25) translate(12px, 12px);
	}
	.hamburger__menu .icon-X:after {
		transition-duration: 0.5s;
		position: absolute;
		width: 60px;
		height: 8px;
		background-color: rgb(211, 212, 206);
		content: "";
		top: 20px;
		transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
	}
	.hamburger__menu .icon-X:hover {
		cursor: pointer;
	}
	.hamburger__menu.open .icon-E {
		transition-duration: 0.5s;
		transform: scaleX(0);
		transition-delay: 0s;
	}
	.hamburger__menu.open .icon-X {
		transition: 0.5s;
		transition-delay: 0.5s;
		transform: scaleX(1);
	}
	.hamburger__menu:hover {
		cursor: pointer;
	}
	.menu__element {
		font-size: 2rem;
		position: relative;
		padding-left: 20px;
		margin-bottom: 10px;
		cursor: pointer;
	}
	.menu__element::after {
		position: absolute;
		width: 220px;
		content: "";
		top: 0;
		left: 0;
		height: 100%;
		background: rgb(211, 212, 206);
		-webkit-transform: skew(-30deg, 0deg);
		-moz-transform: skew(-30deg, 0deg);
		-ms-transform: skew(-30deg, 0deg);
		-o-transform: skew(-30deg, 0deg);
		transform: skew(-30deg, 0deg);
		border: #d3d4ce solid 5px;
		z-index: -1;
	}
	.offcanvas {
		width: 80% !important;
	}
	.footer {
		flex-direction: column;
		gap: 10px;
	}
}

@media screen and (max-width: 480px) {
	.menu__items {
		display: none;
	}
	.hamburger__menu {
		display: flex;
		position: relative;
		width: 60px;
		height: 60px;
		transition-duration: 0.5s;
		align-self: flex-end;
	}
	.hamburger__menu .icon-E {
		transition-duration: 0.5s;
		height: 8px;
		width: 60px;
		background-color: rgb(211, 212, 206);
		transition-delay: 0.5s;
		border-radius: 15px;
	}
	.hamburger__menu .icon-E:before {
		transition-duration: 0.5s;
		position: absolute;
		width: 60px;
		height: 8px;
		background-color: rgb(211, 212, 206);
		content: "";
		top: -20px;
		border-radius: 15px;
	}
	.hamburger__menu .icon-E:after {
		transition-duration: 0.5s;
		position: absolute;
		width: 60px;
		height: 8px;
		background-color: rgb(211, 212, 206);
		content: "";
		top: 20px;
		border-radius: 15px;
	}
	.hamburger__menu .icon-X {
		transition-duration: 0.5s;
		position: absolute;
		height: 0px;
		width: 200px;
		background-color: rgb(211, 212, 206);
		transform: scaleX(0);
		transform-origin: 30px 0px;
		border-radius: 15px;
	}
	.hamburger__menu .icon-X:before {
		transition-duration: 0.5s;
		position: absolute;
		width: 60px;
		height: 8px;
		background-color: rgb(211, 212, 206);
		content: "";
		top: -20px;
		transform: rotateZ(45deg) scaleX(1.25) translate(12px, 12px);
		border-radius: 15px;
	}
	.hamburger__menu .icon-X:after {
		transition-duration: 0.5s;
		position: absolute;
		width: 60px;
		height: 8px;
		background-color: rgb(211, 212, 206);
		content: "";
		top: 20px;
		transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
		border-radius: 15px;
	}
	.hamburger__menu.open .icon-E {
		transition-duration: 0.5s;
		transform: scaleX(0);
		transition-delay: 0s;
	}
	.hamburger__menu.open .icon-X {
		transition: 0.5s;
		transition-delay: 0.5s;
		transform: scaleX(1);
	}
	.hamburger__menu:hover {
		cursor: pointer;
	}
	.menu__element {
		font-size: 1rem;
		position: relative;
		padding-left: 10px;
		margin-bottom: 10px;
		cursor: pointer;
	}
	.menu__element::after {
		position: absolute;
		width: 120px;
		content: "";
		top: 0;
		left: 0;
		height: 100%;
		background: rgb(26, 45, 0);
		-webkit-transform: skew(-30deg, 0deg);
		-moz-transform: skew(-30deg, 0deg);
		-ms-transform: skew(-30deg, 0deg);
		-o-transform: skew(-30deg, 0deg);
		transform: skew(-30deg, 0deg);
		border: #d3d4ce solid 3px;
		z-index: -1;
	}
	.home__image {
		object-fit: cover;
		width: 100%;
		object-position: 50% 25%;
	}
	.offcanvas {
		width: 80% !important;
	}
	.icons__set {
		width: 270px;
	}
}
